---
import BaseLayout from "../../../layouts/base.astro";
import Tag from "../../../components/tag.astro";
import { getCollection } from "astro:content";
import "../../../styles/post.css";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();

const publishedAt = new Intl.DateTimeFormat("en-US", {
	dateStyle: "long",
	timeZone: "utc",
}).format(post.data.publishedAt);

const image = `/posts/${post.slug}/og.png`;
---

<BaseLayout
	title={post.data.title}
	description={post.data.description}
	image={image}
>
	<Fragment slot="head">
		<link
			rel="preload"
			href="/fonts/JetBrainsMono-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</Fragment>
	<header class="font-robot space-y-6">
		<h1 class="text-4xl tracking-tight font-extrabold">
			{post.data.title}
		</h1>
		<p class="text-xl text-muted-foreground">{post.data.description}</p>
		<div class="flex flex-col gap-4 sm:flex-row-reverse sm:justify-between">
			<time
				datetime={post.data.publishedAt.toISOString()}
				class="text-gray-500 block"
			>
				{publishedAt}
			</time>
			<div class="flex items-center gap-2">
				{post.data.tags.map((tag) => <Tag tag={tag} />)}
			</div>
		</div>
	</header>
	<article class="mt-8 content">
		<Content />
	</article>
	<style>
		@font-face {
			font-family: "JetBrains Mono";
			src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
			font-display: swap;
		}
	</style>
</BaseLayout>
