---
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

const externalLinks = [
	{
		label: "buy me a coffee",
		emoji: "☕",
		href: "https://www.buymeacoffee.com/andres.rodriguez",
		color: "bg-yellorange",
	},
	{
		label: "follow me",
		href: "https://twitter.com/andrexish",
		color: "bg-light-blue",
	},
	{
		label: "github",
		href: "https://github.com/andresrodh",
		color: "bg-light-blue",
	},
	{
		label: "linkedin",
		href: "https://www.linkedin.com/in/andresrodh",

		color: "bg-light-blue",
	},
];

const { pathname } = new URL(Astro.request.url);
const navItems = [
	{
		label: "home",
		href: "/",
		isActive: pathname === "/",
	},
	{
		label: "posts",
		href: "/posts",
		isActive: pathname.startsWith("/posts"),
	},
];
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link
			rel="preload"
			href="/fonts/Hubot-Sans.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/Mona-Sans.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta name="twitter:creator" content="@andrexish" />
		<slot name="head" />
	</head>
	<body class="h-full">
		<div class="overflow-y-scroll overflow-hidden h-full">
			<div class="max-w-screen-sm mx-auto min-h-full p-6 sm:p-8 flex flex-col">
				<nav class="pb-6">
					<ul class="flex gap-4 items-center">
						{
							navItems.map((item) => (
								<li>
									<a
										href={item.href}
										class:list={[
											"font-semibold font-robot underline-offset-2 decoration-2 decoration-wavy decoration-light-blue",
											{ underline: item.isActive },
										]}
									>
										{item.label}
									</a>
								</li>
							))
						}
					</ul>
				</nav>
				<div class="flex-1">
					<slot />
				</div>
				<footer class="pt-12">
					<ul class="flex gap-4 flex-wrap">
						{
							externalLinks.map((link) => (
								<li>
									<a
										href={link.href}
										target="_blank"
										rel="noopener noreferrer"
										class:list={[
											link.color,
											"inline-flex items-center gap-1 border-2 shadow-sm px-1.5 py-0.5 transition-all hover:translate-x-0.5 hover:translate-y-0.5 hover:shadow-none bg-light-blue font-medium font-robot after:content-['_↗']",
										]}
									>
										{link.emoji}
										{link.label}
									</a>
								</li>
							))
						}
					</ul>
				</footer>
			</div>
		</div>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Mona Sans";
		src:
			url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
			url("/fonts/Mona-Sans.woff2") format("woff2-variations");
		font-weight: 400 500;
		font-stretch: 100% 75%;
		font-display: swap;
	}

	@font-face {
		font-family: "Mona Sans Italic";
		src:
			url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
			url("/fonts/Mona-Sans.woff2") format("woff2-variations");
		font-style: oblique 20deg;
		font-weight: 400;
		font-stretch: 100%;
		font-display: swap;
	}

	i,
	em {
		font-family: "Mona Sans Italic";
	}

	@font-face {
		font-family: "Hubot Sans";
		src:
			url("/fonts/Hubot-Sans.woff2") format("woff2 supports variations"),
			url("/fonts/Hubot-Sans.woff2") format("woff2-variations");
		font-weight: 400 500 600 900;
		font-stretch: 75% 75% 75% 125%;
		font-display: swap;
	}
</style>
